/* Settings
-----------------------------------------------------------------------------*/
$bgColor: #F7F7F7;

$redColor: #DD2329;
$redColor2: #E9343E;
$redColor3: #F84844;
$redColor4: #c60000;

$greyColor: #717679;
$greyColor2: #DDDDDD;
$greyColor3: #959595;

$lightGreyColor: #F7F7F7;
$mainFont: 15px/18px 'Roboto', Helvetica, Arial, sans-serif;
$mainColor: #000;
$gridWidth: 1000px;

$margin: 22px;

$gw-column: 83px;          // Column Width
$gw-gutter: 0;           // Gutter Width

$footer-height: 30px;
$footer-padding-top: 20px;
$footer-padding-bottom: 25px;

$footer: $footer-height + $footer-padding-top + $footer-padding-bottom;

$header-height: 110px;